@import 'variables';
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: $font-family-sans-serif;
  font-size: $font-size-base;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-bottom: 2rem;
}

p {
  margin-bottom: 1rem;
}

.main-content {
  max-width: $max_width;
  margin: $margin_auto;
  padding: 0 1rem 4rem;
}

a {
  text-decoration: none;
  color: $blue;
}
