.main-footer {
  display: flex;
  background-color: $blue;
  color: $white;
  height: 200px;
  a {
    color: $white;
  }
  .nav-footer {
    @include center_pos;
    width: $max_width;
    margin: $margin_auto;
    .footer-brand img {
      width: $img_brand;
    }
  }
}
