.main-footer {
  display: flex;
  background-color: $blue;
  color: $white;
  height: 200px;
  a {
    color: $white;
  }
  .nav-footer {
    display: flex;
    width: $max_width;
    justify-content: space-between;
    align-items: center;
    margin: $margin_auto;
    .footer-brand img {
      width: 200px;
    }
  }
}
