// Body
$body-bg: #f8fafc;
$bg-light: #e8ebf1;

// Typography
$font-family-sans-serif: 'Nunito', sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

// Colors
$black: #000;
$blue: #1b3c59;
$white: #fff;


// width
$max_width : 1144px;
$margin_auto : 0 auto;
